# Import Dataset

3 methods  
1. from local stoage  
  - using file()  
  - using pandas
2. from cloud storage
3. from URL
  - using pandas
  - using scrapping



---

##### In Google Colab

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
dataset_path = 'drive/My Drive/path-to-dataset-in-drive-filesystem/social-protection-and-labor-indicators-for-west-bank-and-gaza-1.csv'

In [ ]:
df = pd.read_csv(dataset_path)
df

            Country Name  ...                 Value
0          #country+name  ...  #indicator+value+num
1     West Bank and Gaza  ...      20.6695276400199
2     West Bank and Gaza  ...      31.6776073831523
3     West Bank and Gaza  ...      18.5033222247896
4     West Bank and Gaza  ...      34.6751984403056
...                  ...  ...                   ...
3725  West Bank and Gaza  ...      14.3809995651245
3726  West Bank and Gaza  ...      14.1990003585815
3727  West Bank and Gaza  ...      14.2200002670288
3728  West Bank and Gaza  ...      13.8940000534058
3729  West Bank and Gaza  ...      13.8420000076294

[3730 rows x 6 columns]

##### Non-Common Format

In [ ]:
dataset_path = 'drive/My Drive/path-to-folder-in-drive-filesystem/iris.data'

In [ ]:
df = pd.read_csv(dataset_path, sep=',')
df

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

##### Datasets Resources

- Kuggle
- UCI
- data.world
- worldbank